.screenContent {
    background: var(--white);
    padding: 1rem;
    border-radius: 5px;
    height: 230px;
    display: flex;
    .sideLeft {
        width: 50%;
    }

    .sideRight {
        width: 50%;
        padding-left: 1rem,
    }

    .cardOrder {
        color: var(--blue-500);
        display: flex;
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: space-between;

        >div {
            >h1 {
                margin-bottom: 0.5rem;
            }
            
            >select {
                margin-bottom: 1rem;
                border-radius: 3px;
                padding: 5px;
                color: var(--blue-500);
                border: 1px solid var(--blue-500)
            } 
        }
    }
}

.progress {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    >button {
        border: none;
        border-radius: 10px;
        padding:0.5rem;
        background: var(--white);
        color: var(--green-500);
        display: flex;
        align-items: center;
        transition: filter 0.2s;

        svg {
            width: 20px;
            height: 20px;
            color: var(--green-500);
        }
    }
    >button:hover {
        filter: brightness(0.9)
    }
}