.contentContainer {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red-500);

    .cardContent {
        width: 600px;
        height: 480px;
        background: var(--gray-100);
        border-radius: 1rem;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    .close {
        display: flex;
        justify-content: flex-end;
        
        >a {
            border: none;
            background: var(--gray-100);
            >svg {
                width: 30px;
                height: 30px;
                color: var(--red-500);
            }
        }
    }
}