.assistantShipping {
    .timeline {
        font-size: 0.8rem;
        font-weight: 600;
        height: 150px;
        display: flex;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            align-content: center;
            overflow: hidden;
            text-transform: uppercase;
            
            &::before {
                width: 30%;
                height: 4px;
                background: var(--white);
                content: "";
                display: block;
                position: absolute;
                top: 266px;
            }

            li {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                align-self: center;
                transition: .4s;

                div {
                    width: 2rem;
                    height: 2rem;
                    background: var(--white);
                    color: var(--blue-500);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    z-index: 1;
                    outline: 0; 
                }
                .checked {
                    background: var(--white);
                    color: var(--blue-500);
                    font-size: 1.1rem;
                }
                .active {
                    background: var(--green-500);
                    svg {
                        width: 20px;
                        height: 20px;
                        color: var(--white);
                    }
                }

                span {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    color: var(--blue-500);
                }
            }

            .completed {
                &::after {
                    width: 100%;
                    height: 4px;
                    position: relative;
                    left: 110px;
                    bottom: 43px;
                    content: "";
                    background: var(--green-500);
                    border: var(--green-500);
                }
                span {
                    color: var(--green-500);
                    font-weight: 600;
                }
            }
        }
    }
}