.footerContainer {
    height: 50px;
    background: var(--red-500);

    .footerContent {
        margin: 0 auto;
        max-width: 1120px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
            padding-right: 0.5rem;
            color: var(--white)
        }

        >button {
            background: transparent;
            border: none;

            >svg {
                width: 20px;
                height: 20px;
                color: var(--white);
                cursor: pointer;
            }
        }
    }
}